.pagination-ul {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
  align-items: center;
}
.pagination-ul .pagination-item {
  margin-right: 12px;
  margin-left: 12px;
  cursor: pointer;
  font-size: 20px;
}
.pagination-list-next {
  transform: rotate(180deg);
}
.pagination-list-next {
  height: 20px;
}
.pagination-list-previous {
  height: 20px;
}
